div#purchase-details {
    width: 100%;
}

div#purchase-details h2{
    color: darkblue;
    font-weight: bolder;
}

div#purchase-details table {
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}

thead {
    background-color: darkred;
    color: white;
}

th {
    border: 2px solid black;
    padding-left: 6px;
}

tr.purchase-row {
    border-bottom: 1px solid gray;
}

th.quantity {
    border-left: 0;
    border-right: 0;
}

button.quantity-alter {
    font-weight: bold;
    padding: 0px 10px;
    border-radius: 25px;
}

tr.purchase-row > td img {
    width: 100%;
    border: 1px solid gray;
}

col#column-image {
    width: 10%;
    background-color: lightskyblue;
}

col#column-name {
    width: 50%;
    background-color: lightskyblue;
}

col.column-quantity {
    width: 5%;
    background-color: bisque;
}

col#column-cost {
    width: 20%;
    background-color: lightskyblue;
}

col#column-delete {
    width: 5%;
    background-color: gray;
}

td {
    text-align: center;
}

div#checkout-buttons {
    width: 100%;
    text-align: center;
}

div#checkout-buttons button {
    padding: 2px 10px;
    font-size: 1.2em;
    margin: 5px 20px;
}

tr#totalcost td {
    background-color: darkblue;
    color: yellow;
    font-weight: bold;
}
tr#empty-cart td {
    background-color: lightcyan;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

button#purchase-button {
    padding: 0px 5px;
    background-color: darkgreen;
    color: lightyellow;
    border-radius: 10px;
    width: 100%;
}

/**=================================================== 
   MOBILE VIEW : 0px to 600px
   ===================================================*/
@media only screen and (max-width: 600px) {
    
}

/**===================================================
   TABLET POTRAIT VIEW : 601px and greater
   ===================================================*/
@media only screen and (min-width: 601px) {
    div#purchase-details {
        width: 90%;
        margin-left: 5%;
        padding-top: 15px;
    }

}

/**===================================================
   TABLET LANDSCAPE & DESKTOP VIEW : 901px and greater
   ===================================================*/
@media only screen and (min-width: 901px) {
    div#purchase-details {
        width: 75%;
        margin-left: 12.5%;
    }

}