header {
    background-color: rgb(2, 4, 129);
    border-bottom: 2px solid black;
    background-image: url(../images/header-bg.jpg);
    background-size: 100%;
}

header > h1 {
    text-shadow: 2px 2px 0px red, 4px 4px 0px green, 6px 6px 0px purple;
    word-spacing: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(234, 255, 5);
    margin-bottom: 5px;
    width: 40%;
}
header.adminnav {
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid black;
    background-image: url(../images/header-bg.jpg);
    background-size: 100%;
}

header.adminnav > h1 {
    text-shadow: 2px 2px 0px red, 4px 4px 0px green, 6px 6px 0px purple;
    word-spacing: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(209, 209, 207);
    margin-bottom: 5px;
    width: 40%;
}
header > h3 {
    color: whitesmoke;
    width: 40%;
    float: right;
    padding-right: 5%;
    text-align: right;
    display: block;
}
header > h3::after, header > a.adminbutton::after {
    clear: both;
    content: "";
    display: table;
}

header > a.adminbutton{
    width: max-content;
    margin-right: 2%;

    float: right;
}
header > a.adminbutton button {
    padding: 0 3px;
    color: whitesmoke;
    background-color: black;

    border-radius: 20px;
}

#navigation-bar {
    width: 100%;
}

#navigation-bar ul {
    list-style: none;
}

#navigation-bar li {
    width: 100%;
    text-align: center;
    border: 2px outset black;
}

#navigation-bar a {
    font-size: 1.2em;
    display: block;
    background-color: rgb(149, 0, 0);
    text-decoration: none;
    color: wheat;
    font-weight: bold;
    transition-duration: 0.4s;
}

#navigation-bar a:hover {
    background-color: rgb(115, 1, 163);
    color: white;
    font-weight: bolder;
}

a#current-page {
    background-color: rgb(99, 0, 117);
    color: white;
    font-weight: bolder;
}


/**=================================================== 
   MOBILE VIEW : 0px to 600px
   ===================================================*/
@media only screen and (max-width: 600px) {

}

/**===================================================
   TABLET POTRAIT VIEW : 601px and greater
   ===================================================*/
@media only screen and (min-width: 601px) {
    header {
        background-image: url(../images/header-bg-pc.jpg);
    }

    header > h1 {
        margin-left: 10%;
        margin-bottom: 10px;
        padding-top: 5px;
    }
    #navigation-bar {
        margin-bottom: 5px;
    }
    #navigation-bar li {
        width: 25%;
        display: block;
        float: left;
        box-shadow: 2px 2px 0px black;
    }
    
    #navigation-bar::after {
        clear: both;
        content: "";
        display: table;
    }
}

/**===================================================
   TABLET LANDSCAPE & DESKTOP VIEW : 901px and greater
   ===================================================*/
@media only screen and (min-width: 901px) {
    header {
        position: sticky;
        top: 0;
    }

    #navigation-bar {
        width: 80%;
        margin-left: 10%;
    }
    #navigation-bar {
        padding-bottom: 5px;
    }
    #navigation-bar li {
        width: 20%;
        margin: 0px 2.5%;
        box-shadow: 3px 3px 5px black;
        border-radius: 10px;
    }
    #navigation-bar a {
        border-radius: 10px;
    }
}